easy-pil==0.3.2
psutil==5.9.8
python-dotenv==1.0.1
pytube==15.0.0
youtube-search==2.1.2
yt-dlp==2023.12.30
lyricsgenius==3.0.1
nextcord==2.6.0
nextcord[voice]==2.6.0
nextcord[speed]==2.6.0
aiohttp==3.9.3